// .image_container {
//   width: 100%;
//   max-width: 100%;
//   overflow: hidden; 
// }

// .main_image {
//   width: 100%;
//   height: 650px; 
//   display: block;
//   object-fit: cover;
// }


@media (max-width: 1024px) {
  .main_image {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .main_image {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .main_image {
    height: 200px;
  }
}
