.image_container {
  width: 100%;
  max-width: 100%;
  overflow: hidden; 
  cursor: pointer;
}

.main_image {
  width: 100%;
  height: 500px; 
  display: block;
  object-fit: cover;
  cursor: pointer;
}




