.orng_sec{
    background-color:rgb(248, 85, 5);
    text-align: center;
    margin-bottom: 5vh;
    height: 30vh;

    h2{
    font-size: 23.4px;
    padding: 20px;
    text-transform: uppercase;
   font-weight: bold;
   }

   p{
    font-size: 18px;
    margin: 0;
    span{
        font-weight: bold;
    }
   }
}