.top_image img {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    object-fit: cover;
}

.images {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;


}

.images img {
    height: 250px;
    width: 220px;
    // object-fit: cover;
}


